nav {
    background: rgba(23, 23, 23, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    color:rgb(140, 140, 140);
}

nav a.active {
    background: var(--color-primary-variant);
    color: var(--color-white);
    box-shadow: 0 4px 32px var(--color-bg-variant);
}